.navigation {
  position: relative;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--dark);
}

@media (max-width: 600px) {
  .navigation {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .navigation ul li.active a .icon {
    transform: translateY(-35px);
  }

  .navigation ul li a .text {
    transform: translateY(50px);
  }

  .navigation ul li.active a .text {
    transform: translateY(20px);
  }

  .indicator::before {
    top: 50% !important;
    border-top-right-radius: 25px;
    box-shadow: 0px -10px 0 0 var(--dark);
  }

  .indicator::after {
    top: 50% !important;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--dark);
  }

  .indicator {
    top: -50%;
  }
}

@media (min-width: 600px) {
  .navigation ul li.active a .icon {
    transform: translateY(35px);
  }

  .navigation ul li a .text {
    transform: translateY(-50px);
  }

  .navigation ul li.active a .text {
    transform: translateY(-20px);
  }

  .indicator::before {
    top: 15% !important;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 10px 0 0 var(--dark);
  }

  .indicator::after {
    top: 15% !important;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 0 0 var(--dark);
  }

  .indicator {
    top: 50% !important;
  }
}

.navigation ul li a .text {
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  color: var(--dark);
  transform: translateY(-50px);
}

.navigation ul li.active a .text {
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--green);
  border-radius: 50%;
  border: 6px solid var(--dark);
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  left: -26px;
  width: 25px;
  height: 20px;
  background-color: transparent;
}

.indicator::after {
  content: "";
  position: absolute;
  right: -23.9px;
  width: 22px;
  height: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0);
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
